<% layout("/layout/navbar.ejs") -%>
<head>
<link rel="stylesheet" href="/create.css">
</head>
 <div class="main-container">
    <div class="content">
        <h2>Add Your Place</h2>
        <form method="post" action="/listing" id="myForm" class="needs-validation" novalidate>
            <div class="title-div box">
                <p>Title</p>
                <input type="text" name="title" placeholder="Enter the title" required class="form-control">
                  <div class="invalid-feedback">
        Please enter a valid title.
      </div>
            </div>
             <div class="description-div box">
                <p>Description</p>
                <textarea name="description" placeholder="Enter the description" rows="3" cols="3" required class="form-control"></textarea>
                    <div class="invalid-feedback">
        Please enter a valid description.
      </div>
            </div>
            <div class="image-div box" >
                <p>Image Link</p>
                 <input type="text" name="url" placeholder="Enter the link of the image" required class="form-control">
                     <div class="invalid-feedback">
        Please enter a valid image link.
      </div>
            </div>
            <div class="price-country-div">
                <div class="price-div box">
                    <p>Price</p>
                    <input type="text" name="price" placeholder="Price" required class="form-control">
                        <div class="invalid-feedback">
        Please Enter a valid price
      </div>
                </div>
                <div class="country-div box">
                    <p>Country</p>
                    <input type="text" name="country" placeholder="Enter name of country" required class="form-control">
                        <div class="invalid-feedback">
Enter a valid country
      </div>
                </div>
                 </div>
                <div class="location-div box ">
                    <p>Location</p>
                    <input type="text" name="location" placeholder="Location" required class="form-control">
                        <div class="invalid-feedback">
        Enter a valid location.
      </div>
                </div>
        </form>
        <button id="add-btn" onclick="document.getElementById('myForm').requestSubmit()">Add New Listing</button>
    </div>
 </div>
<script src="/js/script.js"></script>
