
.content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.row{
    display: flex;
    gap: 10px;
    height: 400px;
    width: 93%;
    justify-content: space-around;

}
.image{
 height: 300px;
 width: 100%;
 border-radius: 15px;
 object-fit: cover;
 margin-bottom: 5px;
}
.col{
    width: 30%;
}
.image:hover{
    opacity: 0.8;
    scale: 1.05;
    cursor: pointer;
    
}
