<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <%- block('head') %>
</head>
<body>
     <div class="header">
    <div class="">
        <i class="fa-brands fa-safari logo"></i>
    </div>
    <div class="home text ">Home</div>
    <div class="all-listing text ">All Listings</div>
    <div class="add-place text ">Airbnb your Home </div>
 </div>
 <%- body %>
</body>
</html>